<!-- barra-nav.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Menú hamburguesa a la izquierda -->
  <button class="navbar-toggler" type="button" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Opciones de menú -->
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': menuOpen }">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/ruta-1">Página 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ruta-2">Página 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ruta-3">Página 3</a>
      </li>
    </ul>
  </div>

  <!-- Logotipo e icono a la derecha -->
  <div class="navbar-brand ml-auto">
    <img src="ruta-de-tu-logotipo" alt="Logotipo">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
      <path d="M8 1.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM1 15s2-2.5 7-2.5 7 2.5 7 2.5-1.5-2-7-2-7 2-7 2.5z"/>
      <path d="M8 9a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7zM0 1h16v2H0V1zm0 3h16v2H0V4z"/>
    </svg>
  </div>
</nav>



  
